# Password aging configuration
PASS_MAX_DAYS   {{ password_policy.max_age }}
PASS_MIN_DAYS   {{ password_policy.min_age }}
PASS_MIN_LEN    {{ password_policy.min_length }}
PASS_WARN_AGE   {{ password_policy.warn_age }}

# Default umask
UMASK           022

# Default user shell
SHELL           /bin/bash

# Default user home directory
HOME            /home

# Default user group
GROUP           100

# Default user ID range
UID_MIN         1000
UID_MAX         60000

# Default group ID range
GID_MIN         1000
GID_MAX         60000

# Default password encryption method
ENCRYPT_METHOD  SHA512 